/* PLAYLIST */

.playlist-container{
    height: 68vh;
    background-color: #121212;
    padding-top: 16px;
    border-radius: 10px;
    margin: 10px;
}

.playlist{
    margin: 24px;
}

.playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist #greeting-subtitle{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

